{% extends 'base.html' %} 


{% block title %}Login{% endblock %}

{% block styles %}
<style>
  body {
    background-color: #231F20;
  }

  #reg {
    padding-top: 10%;
  }
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    float: left; 
    width: 50%;
  }
  .card {
    max-width: 400px;
  }
  .card-header {
    background-color: #007bff;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }
  .card-body {
    padding: 30px;
  }
  .form-group {
    margin-bottom: 20px;
  }
  label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
  }
  input[type=text], input[type=password] {
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
  }
  button[type=submit] {
    background-color: #007bff;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }
  button[type=submit]:hover {
    background-color: #0062cc;
  }
  .alert-danger {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #f5c6cb;
    border-radius: 4px;
  }
</style>
{% endblock %}

{% block content %}
<div class="login-container">
  <div class="card">
    <!-- <div class="card-header bg-dark">Login</div> -->
    <div class="card-body">
      {% if error_message %}
        <div class="alert alert-danger" role="alert">{{ error_message }}</div>
      {% endif %}
      <form method="post">
        {% csrf_token %}
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control" id="username" name="username" required>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <input class="btn btn-outline-dark btn-block" type="submit" value="Login">
        <!-- <button type="submit" class="btn btn-outline-dark">Login</button> -->
      </form>
      <div id="reg" class="card-subtitle mb-2 text-muted"><b>Need to register?</b>   <a style="color: #9A0E0E; font-weight: bold;" href="/register">Register</a></div>

      <div style="text-align:center;">
      <p style="color:#231F20"><strong>-- OR --</strong></p>
      <a href="{% url 'social:begin' 'github' %}">
        <button type="button" class="btn btn-outline-dark">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
<path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path>
</svg>
          Login
        </button>
       
      </a>
    </div>
    


      

    </div>
  </div>
</div>

<div>
  <img style="position: absolute;margin: auto;top: 0;left: 40%;right: 0;bottom: 0;width: 30%;" src="https://i.ibb.co/ZSWq82V/Open-TA-Dark.png">
</div>
{% endblock %}